@import "~bootstrap/scss/grid";

.row > * {
  flex-shrink: unset !important;
  width: unset !important;
  max-width: unset !important;
  padding-right: unset !important;
  padding-left: unset !important;
  margin-top: unset !important;
}

.container-mw-xs {
  max-width: calc(#{$max-width-xs} + #{$grid-gutter-width}) !important;
}

.container-mw-sm {
  max-width: calc(#{$max-width-sm} + #{$grid-gutter-width}) !important;
}

.container-mw-md {
  max-width: calc(#{$max-width-md} + #{$grid-gutter-width}) !important;
}

.container-mw-lg {
  max-width: calc(#{$max-width-lg} + #{$grid-gutter-width}) !important;
}

.container-mw-xl {
  max-width: calc(#{$max-width-xl} + #{$grid-gutter-width}) !important;
}
