// Toasts

$toast-max-width:                   400px;
$toast-padding-x:                   .75rem;
$toast-padding-y:                   .25rem;
$toast-font-size:                   .875rem;
$toast-color:                       null;
$toast-background-color:            $gray-700;
$toast-border-width:                1px;
$toast-border-color:                rgba(0, 0, 0, .1);
$toast-border-radius:               .25rem;
$toast-box-shadow:                  0 1.25rem 2.5rem rgba($black, .15), 0 .5rem 3rem rgba($black, .15);

$toast-header-color:                $white;
$toast-header-background-color:     $gray-700;
$toast-header-border-color:         rgba(0, 0, 0, .5);

$toast-container-gutter-lg:         1.25rem;
$toast-container-gutter-sm:         .625rem;
