@import "~paragon-style/scss/core/core";
@import "base";
@import "https://cdn.jsdelivr.net/npm/@edx/elm-theme@1.8.1/dist/core.min.css";
@import "https://cdn.jsdelivr.net/npm/@edx/elm-theme@1.8.1/dist/light.min.css";
